@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&family=Roboto:wght@300;400;500;900&family=Silkscreen:wght@400;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #070707;
}

.container {
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container .forms{
    padding: 30px;
}

.container .forms .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.forms .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: ;
    border-radius: 25px;
}